:root {
    --color-primary: #ffe135;
    --color-bg: #faf9f5;
    --color-font: #000;
}

/* Reset some default styles of the browser */
body, h1, h2, p, a, button {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    text-decoration: none;
    color: var(--color-font);
}

body {
    background-color: var(--color-bg);
    background-image: radial-gradient(rgba(0, 0, 0, 0.262) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}


/* Make the header responsive and act as an accordion */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: none;
    background: var(--color-bg);;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.177);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-svg {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.logo-h1 {
    letter-spacing: 1px;
}

.nav {
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
}

.nav a {
    margin-left: 20px;
    color: var(--color-font);
    text-decoration: none;
    padding: 20px; /* Add padding to have some space around the text */
    transition: background-color 0.3s ease;
    font-size: 21px;
}

.nav a:hover {
    background-color: #ebebeb;
}




/* Hero section */
.hero {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1020px;
    margin: auto;
    grid-row-gap: 25px;
    padding-bottom: 96px;
}

.hero-button {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background-color: var(--color-font);
    color: #fff;
    width: 200px;
    margin: auto;
    transition: all .15s;
}



.hero-header {
    color: var(--color-font);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Lato, sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 72px;
}

.hero-subheader {
    color: #4c4b5b;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.hero-button {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-color: var(--color-bg);
    border: 1px solid #4c4b5b;
    border-radius: 10px;
    flex: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15px 24px;
    text-decoration: none;
    transition: background-color .5s;
    display: flex;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    color: #4c4b5b;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.hero-button:hover {
    cursor: pointer;
    color: var(--color-bg);
    background-color: rgb(58, 111, 155);
}

.highlight {
    color: var(--color-bg);
    padding: 7.5px;
    background-color: var(--color-primary);
}
.highlight-logo {
    color: black;
    padding: 2.5px;
    background-color: var(--color-primary);
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* This will make the video take the full viewport height */
    width: 80%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    transition: opacity .25s;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.right-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.video-container {
    max-width: 70%;
    margin: auto;
    margin-bottom: 7.5%;

}

video {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.dual-container {
    width: 90%;
    max-width: 1200px;
    display: grid;
    height: 50vh;
    grid-template-columns: 50% 50%;
    margin: auto;
    grid-column-gap: 96px;
    padding: 20px;
    align-items: center;
    padding-bottom: 96px;
}
.left {
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    perspective: 1000px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}
.left-header {
    color: var(--color-primary);
    text-align: center;
    letter-spacing: .1em;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    width: 20%;
    margin: auto
}

.left-subheader {
    color: var(--color-font);
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Lato, Merriweather, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    width: 100%;
}
.left-text {
    color: #4c4b5b;
    text-align: center;
    margin-bottom: 0;
    font-family: Lato, Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.right-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -100;
    background-position: 50%;
    background-size: cover;
    margin: auto;
}

#quality {
    max-width: 1200px;
    margin: auto;
    margin-top: 10%;
}
.three {
    display: grid;
    text-align: center;
    max-width: 1200px;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, 33.3%);
}
.quality-p {
    margin-top: 5%;
}


.standard {
    padding: 25px;
}

#final-action {
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        height: 50vh;
        background-color: var(--color-bg);
        max-width: 1200px;
        margin: auto;
        align-items: center;
        grid-row-gap: 25px;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 2px solid var(--color-primary);
    }

    .final-action-header {
        margin-top: 7.5%;
        color: var(--color-font);
        text-align: center;
        margin-bottom: 10px;
        font-family: Lato, Merriweather, sans-serif;
        font-size: 44px;
        font-weight: 700;
        line-height: 72px;
    }

#mobius {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1020px;
    margin: auto;
    text-align: center;
}

a.icon {
    display: none;
}

@media (max-width: 768px) {
    a.icon {
        display: flex;
        align-items: center;
    }
    .nav {
        display: none;
    }
    .fa {
        font-size: 26px;
    }

    #hero-break {
        display: none;
    }
    .hero {
        grid-row-gap: 6px;
        margin-top: 50px;
    }
    .hero-button {
        margin-top: 25px;
    }
    .video-container {
        max-width: 95%;
        width: 95%;
        height: 36vh;
        padding-bottom: 7.5%;
    }

    .hero-header,  .final-action-header {
        font-size: 39px;
        padding: 2px;
        line-height: 60px;
    }

    .dual-container {
        height: 100vh;
        grid-template-columns: 98%;
        padding-bottom: 75px;
    }

    #final-action {
        padding: 15px;
        height: 100%;
        margin: 5px;
    }


#quality {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    margin: 5px;
}
.three {
    display: grid;
    text-align: center;
    grid-template-rows: 30vh;
    grid-template-columns: 100%;
}
.quality-p {
    margin-top: 5%;
}


.standard {
    padding: 25px;
}


}


